

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Permanent+Marker&display=swap');
     

/* General page syle */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General project color */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */

header {

    background-color: aqua;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
}

main {

    background-color: brown;

    /* Main takes any surplus space and not shrink when the screen is to small to show all content */
    flex: 1 0 auto;
}

footer {

    background-color: blue;
}